@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-spark-white text-spark-black font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

/* Custom Scrollbar for Neo Look */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #FF8A00;
  /* Spark Orange */
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #A855F7;
  /* Spark Purple */
}